<!DOCTYPE html>
<html>
<head>
	<title>FAQ</title>
	<style>
		body {
			margin: 20px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
		}
		h2 {
			margin-top: 20px;
		}
		.question {
			font-weight: bold;
			margin-top: 20px;
		}
		.answer {
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<h1>Frequently Asked Questions</h1>
	<div class="question">Given a product name or product code, find the top-most parent of it by its name.</div>
	<div class="answer">{{ parent }}</div>

	
</body>
</html>
